@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body{
  font-family: "Josefin Sans", sans-serif;
}
.checkBox:hover{
  border:2px solid hsl(280, 87%, 65%);
}
.checkBox:checked {
  background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;

}
.checkBox:checked::before{
  content: '✔';
  color: #fff;
  font-size: 14px;
}